extends layout

block content
  .container
    #home.row-fluid
      .hero-unit
        h1 PowerHouse
        p Online CommonSense power monitoring platform.

    //- #howto.row-fluid
    //-   h2 How does it work
    //-   p Lalalajkaf 

    //-   ui.nav.nav-list
    //-     li.divider

    #parameters.row-fluid
      h2 
        a(name='parameters') Parameters
      form
        //- .span3
        //-   select.span12
        //-     option(value='pizza') No sensors
        //-     option(value='salad') Salad
        //-     option(value='pizzasalad') Pizza and Salad
        .span3
          #sensors.btn-group
            button.btn.dropdown-toggle(data-toggle="dropdown")
              | Sensor
              &nbsp;
              span.caret
            ul.dropdown-menu
               li
                 a No sensors
        .span3
          .controls.input-append.date.form_datetime(data-link-field='dtp_input1')
            input#t1(size='16', type='text', value='', placeholder='2013-01-01 00:00')
            span.add-on
              i.icon-th
          input#dtp_input1(type='hidden', value='')
        .span3
          .controls.input-append.date.form_datetime(data-link-field='dtp_input2')
            input#t2(size='16', type='text', value='', placeholder='2013-01-01 00:00')
            span.add-on 
             i.icon-th
          input#dtp_input1(type='hidden', value='')
        .span3
          button.btn.span12(type="submit") Plot Data

      //- .container
      //-   h2 Parameters
      //- #authenticate.span4
      //-   //- h2 User
      //-   //- p The first step is to authenticate yourself.
      //-   //- form.form-vertical
      //-   //-   .control-group
      //-   //-     .controls
      //-   //-       input#username(type="text", placeholder="Username")
      //-   //-   .control-group
      //-   //-     .controls
      //-   //-       input#password(type="password", placeholder="Password")
      //-   //-   .control-group
      //-   //-     .controls
      //-   //-       button.btn(type="submit") Authenticate
      //- #sensors.span4
      //-   h2 Sensors
      //-   p Please select the sensor you wish to inspect.
      //-   form
      //-     .btn-group
      //-       button.btn.dropdown-toggle(data-toggle="dropdown")
      //-         | Sensor
      //-         &nbsp;
      //-         span.caret
      //-       ul.dropdown-menu
      //-         li
      //-           a No sensors

      //- #datetime.span4
      //-   h2 Date & Time
      //-   p Now its time to select the timeframe of your plot.
      //-   form.form-vertical(action='')
      //-       fieldset
      //-         .control-group
      //-           .controls.input-append.date.form_datetime(data-link-field='dtp_input1')
      //-             input#t1(size='16', type='text', value='', placeholder='2013-01-01 00:00')
      //-             span.add-on
      //-               i.icon-th
      //-           input#dtp_input1(type='hidden', value='')
      //-           br
      //-         .control-group
      //-           .controls.input-append.date.form_datetime(data-link-field='dtp_input2')
      //-             input#t2(size='16', type='text', value='', placeholder='2013-01-01 00:00')
      //-             span.add-on
      //-               i.icon-th
      //-           input#dtp_input1(type='hidden', value='')
      //-           br
      //-         .control-group
      //-           .controls
      //-             button.btn(type="submit") Plot Data
    
    ui.nav.nav-list
      li.divider

    //- #kpis.row-fluid
    //-   h2 Key Performance Indicators
    //-   .container
    
    //-     #power.span4
    //-       h3 Power

    //-     #comfort.span4
    //-       h3 Comfort

    //-     #temperature.span4
    //-       h3 Temperature

    //- ui.nav.nav-list
    //-   li.divider

    #visualisation.row-fluid
      h2 
        a(name='power') Power
      #graph_container1
    
    ui.nav.nav-list
      li.divider

    #visualisation2.row-fluid
      h2 
        a(name='temperature') Temperature
      #graph_container2
    
    ui.nav.nav-list
      li.divider

    #methods.span12
      h2
        a(name:'methods') Methods
      button.btn.btn-large.btn-primary.segment Multiply this graph by 1.2

    ui.nav.nav-list
      li.divider

