extends layout

block content
  
  #home.row-fluid
    .hero-unit
      h1 PowerHouse
      p Online CommonSense power monitoring platform.

  .container-fluid.border(style="background-color:white;padding-top:25px;padding-left:40px;padding-right:40px;border-radius:5px")
    #parameters.row-fluid
      h2#parameters Parameters
      form
        //-   #sensors.btn-group
        //-     button.btn.dropdown-toggle(data-toggle="dropdown")
        //-       | Sensor
        //-       &nbsp;
        //-       span.caret
        //-     ul.dropdown-menu
        //-        li
        //-          a No sensors
        .span3
          .controls.input-append.date.form_datetime(data-link-field='dtp_input1')
            input#t1(size='16', type='text', value='', placeholder='2013-01-01 00:00')
            span.add-on
              i.icon-th
          input#dtp_input1(type='hidden', value='')
        .span3
          .controls.input-append.date.form_datetime(data-link-field='dtp_input2')
            input#t2(size='16', type='text', value='', placeholder='2013-01-01 00:00')
            span.add-on 
             i.icon-th
          input#dtp_input1(type='hidden', value='')
        .span3
          button.btn.btn-primary(type="submit") Plot Data

    #singinalert.alert.alert-error(style='display:none;')
      strong Error!
      |  You are not signed in.
    
    ui.nav.nav-list
      li.divider

    #visualisation.row-fluid
      h2#power Power
      #graph_container1
    
    //- ui.nav.nav-list
    //-   li.divider

    #visualisation2.row-fluid
      h2#temperature Temperature
      #graph_container2
    
    ui.nav.nav-list
      li.divider

    #methods.row-fluid
      h2#methods Methods
      .span3
      .span3
        #method1.button.btn.btn-large.btn-primary.segment Multiply this graph by 0.8
      .span3
        #method2.button.btn.btn-large.btn-primary.segment Multiply this graph by 1.2

    ui.nav.nav-list
      li.divider

    #performance.row-fluid
      h2#performance Performance
      .row-fluid
        .span4
          h3 Comfort
          .progress.progress-striped
            .bar(style='width:50%')
        .span4
          h3 Efficiency
          .progress.progress-striped
            .bar(style='width:70%')
        .span4
          h3 Costs
          .progress.progress-striped
            .bar(style='width:30%')

    footer.footer
      .container
        p
          | Jos van den Haspel ©
        ul.footer-links
          li
            a(href='http://www.sense-os.nl') Sense OS
          li.muted ·
          li
            a(href='http://www.almende.com') Almende
          li.muted ·
          li
            a(href='http://www.tudelft.nl') TU Delft